//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://lucerolawebdetias.github.io/portafolio/[nc]
RewriteRule ^(.*)$ http://www.https://lucerolawebdetias.github.io/portafolio//$1 [r=301,nc]
